body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr 1fr 0.3fr 0.2fr 0.2fr;
    grid-template-areas: 
    "header header header header"
    "heroText heroText heroImage heroImage"
    "adventure adventure adventure adventure"
    "content1 content2 content3 content4"
    "quote quote quote quote"
    "newsLetter newsLetter newsLetter newsLetter"
    "footer footer footer footer"
    ;
    grid-gap: 1rem;
}

header {
    background-color: #1F2937;
    font-family: 'Luxurious Script', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em;
    padding: 1% 5% 2.5% 5%;
    flex-wrap: wrap;
    grid-area: header;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a:link {
    text-decoration: none;
    color: #F9FAF8;
}
a:hover {
    text-decoration: none;
    color: #F9FAF8;
}
a:visited {
    text-decoration: none;
    color: #F9FAF8;
}
a:active {
    text-decoration: none;
    color: #F9FAF8;
}

.head-name {
    color: #E8DA58;
    font-size: 62px;
    font-weight: 900;
    padding-top: 0.1em;
    background-color: #0D430D;
    height: 1.5em;
    width: 3em;
    border: 0.2rem solid #F9FAF8;
    border-radius: 50%;
    text-align: center;
    text-justify: center;
}

.head-ul {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.heroImage {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100%;
    flex-shrink: 1;
    flex-basis: content;
    grid-area: heroImage;
}

#boatImage {
    width: 50vw;
    max-width: 50vw;
    max-height: 100vh;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 25% 5% 25% 5%;
    background-image: url(./Images/Juniper-cover.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    flex-shrink: 1;
    flex-basis: content;
}

.heroText {
    padding: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    grid-area: heroText;
}

.heroText h2 {
    margin: 0;
    text-align: center;
}
.heroText p {
    margin: 1em;
    max-width: 22em;
    text-align: center;
}
.heroText button {
    padding-bottom: 1px;
    min-width: 4.6875em;
    min-height: 1.875em;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0.3125em 0.625em;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0.125em solid #F9FAF8;
    border-radius: 0.3em;
    transition: 0.3s;
}

.heroText button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    }

.adventure {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    text-decoration: underline 2px;
    margin: 0px;
    font-family: 'Luxurious Script', cursive;
    grid-area: adventure;
}


.content1, .content2, .content3, .content4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #1F2937;
    font-size: 18px;
    font-weight: 425;
    max-width: 250px;
}
.content1 {
    grid-area: content1;
}
.content2 {
    grid-area: content2;
}
.content3 {
    grid-area: content3;
}
.content4 {
    grid-area: content4;
}

.contentText {
    text-align: center;
    max-width: 250px;
    min-height: 100px;
    color: #F9FAF8;
}

#connor-happy, #mr-skeen, #on-the-move, #friends {
    height: auto;
    width: auto;
    max-width: 250px;
    border: 2px solid #1F2937;
    flex-shrink: 1;
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: 1px 1px 6px #0a1301;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    gap: 25px;
    padding: 50px 50px;
    grid-area: quote;
}

.quote p {
    padding: 0;
    margin: 0;
}

.newsLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    grid-area: newsLetter;
}

.four-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D430D;
    margin: 50px;
    padding: 25px;
    transition: 0.1s;
}
.four-div:hover {
    box-shadow: 1px 1px 8px #0a1301;
}
.news-copy {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    color: #F9FAF8;
}
.news-copy p, h4 {
    margin: 0;
}

.sign-button {
    margin-left: 75px;
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px 10px;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    border-radius: 15px;
    transition: 0.3s;
}

.sign-button:hover {
    color: #3882F6;
    background-color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 25px;
    grid-area: footer;
}
