body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    background-image: url(./Images/Juniper-cover.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    max-height: 100vh;
    background-size: cover;
    flex-shrink: 1;
    flex-basis: content;
}

.header {
    background-color: #1F2937;
    font-family: 'Luxurious Script', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 50px 0px;
    padding: 25px 100px 50px 100px;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 20px 20px 20px 20px;
    list-style: none;
}
a:link {
    text-decoration: none;
    color: #F9FAF8;
}
a:hover {
    text-decoration: none;
    color: #F9FAF8;
}
a:visited {
    text-decoration: none;
    color: #F9FAF8;
}
a:active {
    text-decoration: none;
    color: #F9FAF8;
}

.jun-back {
    background-color: #0D430D;
    height: 100px;
    width: 200px;
    border: 5px solid #F9FAF8;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #0a1301;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-name {
    color: #E8DA58;
    font-size: 62px;
    font-weight: 900;
    padding-bottom: 10px;
}

.head-ul {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 200px 100px 300px 100px;
    
}

.dream {
    padding: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: rgba(31, 41, 55, 0.8);
    border-radius: 15px;
}

.dream h2 {
    margin: 0px;
    text-align: center;
}
.dream p {
    margin: 10px;
    max-width: 300px;
    text-align: center;
}
.dream button {
    padding-bottom: 1px;
    min-width: 75px;
    min-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    transition: 0.3s;
}

.dream button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    }

.cover-photo {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
    margin-left: 50px;
}
#juniper-photo {
    width: auto;
    height: auto;
    max-width: 100vh;
    border: 3px solid #F9FAF8;
    border-radius: 5%;
    box-shadow: 1px 1px 6px #0a1301;
}

.second-row {
    background-color: #F9FAF8;
    color: #1F2937;
    box-shadow: 2px 2px 8px #0a1301;
    margin: 0px;
    background: linear-gradient(180deg, #b2d8de 0%, #f9faf8 50%, #b2d8de 100%);
}

.adventure h3 {
    margin: 25px;
    text-align: center;
    text-justify: inter-word;
    text-align-last: center;
}
.adventure {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    text-decoration: underline 2px;
    margin: 0px;
    font-family: 'Luxurious Script', cursive;
}
.image-row {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #1F2937;
    font-size: 18px;
    font-weight: 425;
    max-width: 250px;
}

.image-block p {
    text-align: center;
    max-width: 250px;
    min-height: 100px;
}

#connor-happy, #mr-skeen, #on-the-move, #friends {
    height: auto;
    width: auto;
    max-width: 250px;
    border: 2px solid #1F2937;
    flex-shrink: 1;
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: 1px 1px 6px #0a1301;
}

.third-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    gap: 25px;
    padding: 50px 50px;
}

.third-row p {
    padding: 0;
    margin: 0;
}

.fourth-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

.four-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D430D;
    margin: 50px;
    padding: 25px;
    transition: 0.1s;
}
.four-div:hover {
    box-shadow: 1px 1px 8px #0a1301;
}
.news-copy {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    color: #F9FAF8;
}
.news-copy p, h4 {
    margin: 0;
}

.sign-button {
    margin-left: 75px;
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px 10px;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    border-radius: 15px;
    transition: 0.3s;
}

.sign-button:hover {
    color: #3882F6;
    background-color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 25px;
}
